<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Acme Shop</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" [ngClass]="{ 'open': isDropdownOpen }" (click)="toggleDropdown($event)">
          <a href="#" class="dropdown-toggle">
            <i class="glyphicon glyphicon-user"></i>
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/user">Sua conta</a></li>
            <li><a href="">Endereços de entrega</a></li>
          </ul>
        </li>
        <li>
          <a routerLink="/orders">
            <i class="glyphicon glyphicon-shopping-cart"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
