<div class="text-center">
  <h2>Minhas compras</h2>
</div>
<div class="panel panel-default clearfix" *ngFor="let product of products">
  <div class="panel-body">
    <p>Pedido n° {{ product.id }}</p>
    <h4>{{ product.name }}</h4>
    <p>{{ product.description }}</p>
    <button class="btn btn-default pull-right" type="button" (click)="removeFromCart(product)">
      Remover <i class="glyphicon glyphicon-trash"></i>
    </button>
  </div>
</div>

<div class="alert alert-warning" *ngIf="!numOfProducts">
  Seu carrinho está vazio. Não perca tempo, <a routerLink="/" class="alert-link">veja nossos produtos!</a>
</div>
