<div class="well">
  <form #f="ngForm" novalidate>
    <div class="container-fluid">
      <div class="form-group row">
        <div class="col-sm-10">
          <label>Rua</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-2">
          <label>Número</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-8">
          <label>Cidade</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-4">
          <label>CEP</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit" [disabled]="f.invalid">Adicionar</button>
        </div>
      </div>
    </div>
  </form>
</div>
